.channelCards {
    display: flex;

    height: 162px;
    width: 100%;

    background: #F2F2F2;
    border-radius: 8px;

    & div {
        position: relative;

        margin: 0;
        padding: 0;

        width: 400px;
        height: 100%;

        & img {
            position: absolute;

            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }
    }
}

.description {
    margin: 0;
    padding: 0;

    width: 780px;
    height: 100%;

    & h3 {
        margin: 21px 0 17px 0;
        padding: 0;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    
        color: #333333;
    }

    & section {        
        display: flex;
        margin: 12px 0;

        & p {
            margin: 0 16px 0 0;
            padding: 0;

            font-family: 'Rubik';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;

            color: #333333;
        }

        & p.Select {
            color: #E5261E;
        }
    }
}